<div class="app-container" [ngClass]="{'dark-mode': isDarkMode}">
  <header>
    <div class="flex justify-center items-center w-full relative">
      <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold  dark:text-white tracking-wide hover:text-blue-600 dark:hover:text-blue-400 duration-100 text-center">Pokédex TCG</h1>
      <button class="theme-toggle absolute right-0 rounded-lg" (click)="toggleDarkMode()">
        <i class="material-icons">{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</i>
      </button>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
